@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700;800&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Lato' 'Poppins' 'Roboto';
}

/* @media only screen and (min-width: 375px) and (max-width: 768px) {
  #ChatScreenMainContainer {
    height: 45vh;
  }
} */

#ChatScreenMainContainer {
  height: 50vh;
}

/* @media only screen and (width:425px) {
  #ChatScreenMainContainer {
    height: 40%;
  }
}

@media only screen and (width:768px) {
  #ChatScreenMainContainer {
    height: 53%;
  }
} */

#ProfileComponent, #EditProfileComponent {
  height: 90%;
}

#ActiveUser::-webkit-scrollbar {
  display: none;
}

#ChatScreenMainContainer::-webkit-scrollbar {
  display: none;
}